In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

Importing Demography 1 File

In [2]:
demo_1=pd.read_csv("api_data_aadhar_demographic_0_500000.csv")
demo_1.head()

,date,state,district,pincode,demo_age_5_17,demo_age_17_
0,01-03-2025,Uttar Pradesh,Gorakhpur,273213,49,529
1,01-03-2025,Andhra Pradesh,Chittoor,517132,22,375
2,01-03-2025,Gujarat,Rajkot,360006,65,765
3,01-03-2025,Andhra Pradesh,Srikakulam,532484,24,314
4,01-03-2025,Rajasthan,Udaipur,313801,45,785

In [3]:
demo_1.shape

(500000, 6)

In [4]:
demo_1['state'].unique()

array(['Uttar Pradesh', 'Andhra Pradesh', 'Gujarat', 'Rajasthan',
       'Karnataka', 'West Bengal', 'Telangana', 'Odisha', 'Maharashtra',
       'Kerala', 'Bihar', 'Tamil Nadu', 'Madhya Pradesh', 'Assam',
       'Tripura', 'Arunachal Pradesh', 'Punjab', 'Jharkhand', 'Delhi',
       'Chandigarh', 'Chhattisgarh', 'Jammu and Kashmir', 'Mizoram',
       'Nagaland', 'Himachal Pradesh', 'Goa', 'Haryana', 'Meghalaya',
       'Uttarakhand', 'Manipur', 'Daman and Diu', 'Puducherry', 'Sikkim',
       'Ladakh', 'Dadra and Nagar Haveli and Daman and Diu',
       'Dadra and Nagar Haveli', 'Orissa', 'Pondicherry',
       'Andaman & Nicobar Islands', 'Andaman and Nicobar Islands',
       'west Bengal', 'Daman & Diu', 'West  Bengal', 'odisha',
       'Jammu & Kashmir', 'Lakshadweep', 'Dadra & Nagar Haveli',
       'Westbengal', 'andhra pradesh', 'WEST BENGAL', 'West Bangal',
       'West bengal', 'ODISHA', 'WESTBENGAL', 'Chhatisgarh',
       'West Bengli', 'Darbhanga', 'Puttenahalli'], dtype=object)

In [6]:
demo_1['new_date']=pd.to_datetime(demo_1['date'],format='%d-%m-%Y').dt.strftime('%Y%m%d')
demo_1

,date,state,district,pincode,demo_age_5_17,demo_age_17_,new_date
0,01-03-2025,Uttar Pradesh,Gorakhpur,273213,49,529,20250301
1,01-03-2025,Andhra Pradesh,Chittoor,517132,22,375,20250301
2,01-03-2025,Gujarat,Rajkot,360006,65,765,20250301
3,01-03-2025,Andhra Pradesh,Srikakulam,532484,24,314,20250301
4,01-03-2025,Rajasthan,Udaipur,313801,45,785,20250301
...,...,...,...,...,...,...,...
499995,19-09-2025,Maharashtra,Satara,415212,0,1,20250919
499996,19-09-2025,Maharashtra,Satara,415312,0,5,20250919
499997,19-09-2025,Maharashtra,Satara,415510,0,3,20250919
499998,19-09-2025,Maharashtra,Satara,415511,0,10,20250919
499999,19-09-2025,Maharashtra,Satara,415516,0,3,20250919

In [7]:
demo_1['new_date'].isnull().sum()

np.int64(0)

In [8]:
print(demo_1['new_date'].max())
print(demo_1['new_date'].min())

20251229
20250301

Importing Demography 2 File

In [9]:
demo_2=pd.read_csv("api_data_aadhar_demographic_500000_1000000.csv")
demo_2.head()

         date        state    district  pincode  demo_age_5_17  demo_age_17_
0  19-09-2025  Maharashtra      Satara   415517              0             2
1  19-09-2025  Maharashtra      Satara   415518              0             2
2  19-09-2025  Maharashtra      Satara   415520              0             3
3  19-09-2025  Maharashtra      Satara   415539              1             5
4  19-09-2025  Maharashtra  Sindhudurg   416510              4            37

In [10]:
demo_2.shape

(500000, 6)

In [11]:
demo_2['state'].unique()

array(['Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram', 'Nagaland',
       'ODISHA', 'Odisha', 'Orissa', 'Pondicherry', 'Puducherry',
       'Punjab', 'Rajasthan', 'Tamil Nadu', 'Telangana', 'Tripura',
       'Uttar Pradesh', 'Sikkim', 'Uttarakhand', 'West  Bengal',
       'West Bengal', 'Andaman & Nicobar Islands', 'odisha',
       'Andaman and Nicobar Islands', 'Andhra Pradesh',
       'Arunachal Pradesh', 'Assam', 'Bihar', 'Chandigarh',
       'Chhattisgarh', 'Dadra and Nagar Haveli', 'Delhi', 'Goa',
       'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir',
       'Jammu and Kashmir', 'Jharkhand', 'Karnataka', 'Kerala',
       'Lakshadweep', 'Madhya Pradesh', 'Ladakh',
       'Dadra and Nagar Haveli and Daman and Diu', 'Daman and Diu',
       'west Bengal', 'Daman & Diu', 'Dadra & Nagar Haveli',
       'West Bangal', 'Westbengal', 'andhra pradesh', 'WESTBENGAL',
       'WEST BENGAL', 'West bengal', 'West Bengli', 'BALANAGAR',
       'Uttaranchal', '100000', 'Jaipur', 'Madanapalle', 'Chhatisgarh'],
      dtype=object)

In [12]:
demo_2['new_date']=pd.to_datetime(demo_2['date'],format='%d-%m-%Y').dt.strftime('%Y%m%d')
demo_2

,date,state,district,pincode,demo_age_5_17,demo_age_17_,new_date
0,19-09-2025,Maharashtra,Satara,415517,0,2,20250919
1,19-09-2025,Maharashtra,Satara,415518,0,2,20250919
2,19-09-2025,Maharashtra,Satara,415520,0,3,20250919
3,19-09-2025,Maharashtra,Satara,415539,1,5,20250919
4,19-09-2025,Maharashtra,Sindhudurg,416510,4,37,20250919
...,...,...,...,...,...,...,...
499995,31-10-2025,Uttar Pradesh,Etah,207250,2,17,20251031
499996,31-10-2025,Uttar Pradesh,Etah,207401,1,27,20251031
499997,31-10-2025,Uttar Pradesh,Etawah,206003,3,10,20251031
499998,31-10-2025,Uttar Pradesh,Etawah,206125,1,25,20251031
499999,31-10-2025,Uttar Pradesh,Etawah,206126,1,25,20251031

In [13]:
demo_2['new_date'].isnull().sum()

np.int64(0)

In [14]:
print(demo_2['new_date'].max())
print(demo_2['new_date'].min())

20251229
20250301

Importing Demography 3 File

In [15]:
demo_3=pd.read_csv("api_data_aadhar_demographic_1000000_1500000.csv")
demo_3.head()

         date       state    district  pincode  demo_age_5_17  demo_age_17_
0  01-11-2025  Puducherry    Karaikal   609603              0             4
1  01-11-2025  Puducherry    Karaikal   609605              0             3
2  01-11-2025  Puducherry    Karaikal   609606              0             5
3  01-11-2025  Puducherry  Puducherry   605011              2             6
4  01-11-2025  Puducherry  Puducherry   605111              0             1

In [16]:
demo_3.shape

(500000, 6)

In [17]:
demo_3['state'].unique()

array(['Puducherry', 'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu',
       'Andaman and Nicobar Islands', 'Andhra Pradesh',
       'Arunachal Pradesh', 'Assam', 'Bihar', 'Telangana', 'Tripura',
       'Uttar Pradesh', 'Uttarakhand', 'West Bengal', 'Chandigarh',
       'Chhattisgarh', 'Dadra & Nagar Haveli', 'Dadra and Nagar Haveli',
       'Dadra and Nagar Haveli and Daman and Diu', 'Daman and Diu',
       'Delhi', 'Goa', 'Gujarat', 'Haryana', 'Himachal Pradesh',
       'Jammu and Kashmir', 'Jharkhand', 'Maharashtra', 'Manipur',
       'Meghalaya', 'Mizoram', 'Nagaland', 'Odisha', 'Orissa',
       'Pondicherry', 'Karnataka', 'Kerala', 'Ladakh', 'Madhya Pradesh',
       'andhra pradesh', 'Daman & Diu', 'Lakshadweep', 'West Bangal',
       'Jammu & Kashmir', 'Andaman & Nicobar Islands', 'ODISHA',
       'WESTBENGAL', 'West  Bengal', 'West bengal', 'Westbengal',
       'odisha', 'WEST BENGAL', 'Uttaranchal', 'west Bengal',
       'Chhatisgarh'], dtype=object)

In [18]:
demo_3['new_date']=pd.to_datetime(demo_3['date'],format='%d-%m-%Y').dt.strftime('%Y%m%d')
demo_3

,date,state,district,pincode,demo_age_5_17,demo_age_17_,new_date
0,01-11-2025,Puducherry,Karaikal,609603,0,4,20251101
1,01-11-2025,Puducherry,Karaikal,609605,0,3,20251101
2,01-11-2025,Puducherry,Karaikal,609606,0,5,20251101
3,01-11-2025,Puducherry,Puducherry,605011,2,6,20251101
4,01-11-2025,Puducherry,Puducherry,605111,0,1,20251101
...,...,...,...,...,...,...,...
499995,19-11-2025,Rajasthan,Baran,325217,5,61,20251119
499996,19-11-2025,Rajasthan,Baran,325219,2,16,20251119
499997,19-11-2025,Rajasthan,Baran,325221,12,51,20251119
499998,19-11-2025,Rajasthan,Barmer,344011,1,6,20251119
499999,19-11-2025,Rajasthan,Barmer,344022,6,33,20251119

In [19]:
demo_3['new_date'].isnull().sum()

np.int64(0)

In [20]:
print(demo_3['new_date'].max())
print(demo_3['new_date'].min())

20251229
20250301

Importing Demography 4 File

In [21]:
demo_4=pd.read_csv("api_data_aadhar_demographic_1500000_2000000.csv")
demo_4.head()

         date      state district  pincode  demo_age_5_17  demo_age_17_
0  18-11-2025  Karnataka    Hasan   573118              0             2
1  18-11-2025  Karnataka    Hasan   573124              1             3
2  18-11-2025  Karnataka    Hasan   573150              0             2
3  18-11-2025  Karnataka   Hassan   573113              0             1
4  18-11-2025  Karnataka   Hassan   573120              1             4

In [22]:
demo_4['new_date']=pd.to_datetime(demo_4['date'],format='%d-%m-%Y').dt.strftime('%Y%m%d')
demo_4

,date,state,district,pincode,demo_age_5_17,demo_age_17_,new_date
0,18-11-2025,Karnataka,Hasan,573118,0,2,20251118
1,18-11-2025,Karnataka,Hasan,573124,1,3,20251118
2,18-11-2025,Karnataka,Hasan,573150,0,2,20251118
3,18-11-2025,Karnataka,Hassan,573113,0,1,20251118
4,18-11-2025,Karnataka,Hassan,573120,1,4,20251118
...,...,...,...,...,...,...,...
499995,16-12-2025,Maharashtra,Dharashiv,413506,1,3,20251216
499996,16-12-2025,Maharashtra,Dharashiv,413507,0,1,20251216
499997,16-12-2025,Maharashtra,Dharashiv,413601,0,1,20251216
499998,16-12-2025,Maharashtra,Dharashiv,413602,0,1,20251216
499999,16-12-2025,Maharashtra,Dhule,424301,0,8,20251216

In [23]:
demo_4['new_date'].isnull().sum()

np.int64(0)

In [24]:
print(demo_4['new_date'].max())
print(demo_4['new_date'].min())

20251229
20250301

Importing Demography 5 File

In [25]:
demo_5=pd.read_csv("api_data_aadhar_demographic_2000000_2071700.csv")
demo_5.head()

         date           state  district  pincode  demo_age_5_17  demo_age_17_
0  16-12-2025  Madhya Pradesh  Shajapur   465113              0             4
1  16-12-2025  Madhya Pradesh  Shajapur   465226              2            14
2  16-12-2025  Madhya Pradesh  Shajapur   465339              1             2
3  16-12-2025  Madhya Pradesh  Shajapur   465447              1            19
4  16-12-2025  Madhya Pradesh   Sheopur   476332             11            25

In [26]:
demo_5['new_date']=pd.to_datetime(demo_5['date'],format='%d-%m-%Y').dt.strftime('%Y%m%d')
demo_5

,date,state,district,pincode,demo_age_5_17,demo_age_17_,new_date
0,16-12-2025,Madhya Pradesh,Shajapur,465113,0,4,20251216
1,16-12-2025,Madhya Pradesh,Shajapur,465226,2,14,20251216
2,16-12-2025,Madhya Pradesh,Shajapur,465339,1,2,20251216
3,16-12-2025,Madhya Pradesh,Shajapur,465447,1,19,20251216
4,16-12-2025,Madhya Pradesh,Sheopur,476332,11,25,20251216
...,...,...,...,...,...,...,...
71695,29-12-2025,West Bengal,West Midnapore,721212,0,12,20251229
71696,29-12-2025,West Bengal,West Midnapore,721420,0,1,20251229
71697,29-12-2025,West Bengal,West Midnapore,721424,0,5,20251229
71698,29-12-2025,West Bengal,West Midnapore,721426,0,3,20251229
71699,29-12-2025,West Bengal,hooghly,712701,0,1,20251229

Merging The Dataset